Para instalar el módulo: "pip install investpy" - Última versión a 2/1/2022 es la 1.0.7

https://investpy.readthedocs.io/index.html

In [1]:
import investpy as inv

-------------------- ACCIONES --------------------------

In [6]:
df = inv.get_stock_historical_data(stock='AAPL',
                                        country='United States',
                                        from_date='01/01/2010',
                                        to_date='01/01/2020')

In [4]:
print(df.head())

            Open  High   Low  Close     Volume Currency
Date
2010-01-04  7.62  7.66  7.58   7.64  493728704      USD
2010-01-05  7.66  7.70  7.62   7.66  601904640      USD
2010-01-06  7.66  7.69  7.53   7.53  552158912      USD
2010-01-07  7.56  7.57  7.47   7.52  477129760      USD
2010-01-08  7.51  7.57  7.47   7.57  447876768      USD

In [14]:
type(df)

pandas.core.frame.DataFrame

In [7]:
search_result = inv.search_quotes(text='apple', products=['stocks'],
                                       countries=['united states'], n_results=1)
print(search_result)

{"id_": 6408, "name": "Apple Inc", "symbol": "AAPL", "country": "united states", "tag": "/equities/apple-computer-inc", "pair_type": "stocks", "exchange": "NASDAQ"}

In [15]:
type(search_result)

investpy.utils.search_obj.SearchObj

In [8]:
recent_data = search_result.retrieve_recent_data()
print(recent_data.head())

              Open    High     Low   Close     Volume  Change Pct
Date
2021-12-02  158.74  164.20  157.80  163.76  136340992       -0.61
2021-12-03  164.02  164.96  159.72  161.84  118023000       -1.17
2021-12-06  164.29  167.88  164.28  165.32  106617000        2.15
2021-12-07  169.08  171.58  168.34  171.18  115597000        3.54
2021-12-08  172.13  175.96  170.70  175.08  116386000        2.28

In [16]:
type(recent_data)

pandas.core.frame.DataFrame

In [9]:
historical_data = search_result.retrieve_historical_data(from_date='01/01/2019', to_date='01/01/2020')
print(historical_data.head())

             Open   High    Low  Close     Volume  Change Pct
Date
2019-01-02  38.72  39.71  38.56  39.48  148158944        0.10
2019-01-03  35.99  36.43  35.50  35.55  365248768       -9.95
2019-01-04  36.13  37.14  35.95  37.06  234428288        4.25
2019-01-07  37.17  37.21  36.48  36.98  219111056       -0.22
2019-01-08  37.39  37.95  37.13  37.69  164101248        1.92

In [17]:
type(historical_data)

pandas.core.frame.DataFrame

In [10]:
information = search_result.retrieve_information()
print(information)

{'prevClose': 178.2, 'dailyRange': '177.26-179.23', 'revenue': 365820000000, 'open': 178.09, 'weekRange': '116.21-182.13', 'eps': 5.61, 'volume': 61631153, 'marketCap': 2910000000000, 'dividend': '0.88(0.54%)', 'avgVolume': 87652226, 'ratio': 31.67, 'beta': 1.2, 'oneYearReturn': '33.82%', 'sharesOutstanding': 16406397000, 'nextEarningDate': '01/02/2022'}

In [18]:
type(information)

dict

In [11]:
default_currency = search_result.retrieve_currency()
print(default_currency)

USD

In [19]:
type(default_currency)

str

In [12]:
technical_indicators = search_result.retrieve_technical_indicators(interval='daily')
print(technical_indicators)

              indicator    value           signal
0               RSI(14)  61.5070              buy
1            STOCH(9,6)  79.1620              buy
2          STOCHRSI(14)  36.2780             sell
3           MACD(12,26)   4.7200              buy
4               ADX(14)  46.7820              buy
5           Williams %R -30.6070              buy
6               CCI(14)  52.0154              buy
7               ATR(14)   4.3078  less_volatility
8        Highs/Lows(14)   0.0000          neutral
9   Ultimate Oscillator  54.8250              buy
10                  ROC  -1.0090             sell
11  Bull/Bear Power(13)   5.0920              buy

In [20]:
type(technical_indicators)

pandas.core.frame.DataFrame

In [13]:
data = inv.get_crypto_historical_data(crypto='bitcoin',
                                           from_date='01/01/2014',
                                           to_date='01/01/2019')

print(data.head())

             Open    High    Low   Close  Volume Currency
Date
2014-01-01  805.9   829.9  771.0   815.9   10757      USD
2014-01-02  815.9   886.2  810.5   856.9   12812      USD
2014-01-03  856.9   888.2  839.4   884.3    9709      USD
2014-01-04  884.3   932.2  848.3   924.7   14239      USD
2014-01-05  924.7  1029.9  911.4  1014.7   21374      USD

In [21]:
type(data)

pandas.core.frame.DataFrame

In [22]:
inv.get_stock_countries()

['argentina',
 'brazil',
 'canada',
 'chile',
 'colombia',
 'costa rica',
 'jamaica',
 'mexico',
 'peru',
 'united states',
 'venezuela',
 'austria',
 'belgium',
 'bosnia',
 'bulgaria',
 'croatia',
 'cyprus',
 'czech republic',
 'denmark',
 'finland',
 'france',
 'germany',
 'greece',
 'hungary',
 'iceland',
 'ireland',
 'italy',
 'luxembourg',
 'malta',
 'montenegro',
 'netherlands',
 'norway',
 'poland',
 'portugal',
 'romania',
 'russia',
 'serbia',
 'slovakia',
 'slovenia',
 'spain',
 'sweden',
 'switzerland',
 'turkey',
 'ukraine',
 'united kingdom',
 'australia',
 'bangladesh',
 'china',
 'hong kong',
 'india',
 'indonesia',
 'japan',
 'kazakhstan',
 'malaysia',
 'mongolia',
 'new zealand',
 'pakistan',
 'philippines',
 'singapore',
 'south korea',
 'sri lanka',
 'taiwan',
 'thailand',
 'vietnam',
 'bahrain',
 'egypt',
 'iraq',
 'israel',
 'jordan',
 'kuwait',
 'lebanon',
 'oman',
 'palestine',
 'qatar',
 'saudi arabia',
 'dubai',
 'botswana',
 'ivory coast',
 'kenya',
 'malawi',
 'mauritius',
 'morocco',
 'namibia',
 'nigeria',
 'rwanda',
 'south africa',
 'tanzania',
 'tunisia',
 'uganda',
 'zambia',
 'zimbabwe']

In [35]:
stk_sp=inv.get_stocks("spain")

In [36]:
type(stk_sp)

pandas.core.frame.DataFrame

In [37]:
stk_sp

,country,name,full_name,isin,currency,symbol
0,spain,ACS,ACS Actividades de Construccion y Servicios SA,ES0167050915,EUR,ACS
1,spain,Abengoa,Abengoa,ES0105200416,EUR,ABG
2,spain,Atresmedia,Atresmedia,ES0109427734,EUR,A3M
3,spain,Acerinox,Acerinox,ES0132105018,EUR,ACX
4,spain,BBVA,BBVA,ES0113211835,EUR,BBVA
...,...,...,...,...,...,...
229,spain,Proeduca Altus,Proeduca Altus SA,ES0105400008,EUR,PROE
230,spain,Meridia RE III,Meridia Real Estate III Socimi SA,ES0105313003,EUR,YMRE
231,spain,Iffe Futura,Iffe Futura SA,ES0171613005,EUR,IFFE
232,spain,Viviendas en Alquiler,Compania Espanola de Viviendas en Alquiler SA,ES0132955008,EUR,CEV
233,spain,Millenium Hotels,Millenium Hotels Real Estate SA,ES0105407003,EUR,YMHRE

In [39]:
srch_tlf=inv.search_stocks("name", "Telefonica")

In [40]:
type(srch_tlf)

pandas.core.frame.DataFrame

In [41]:
srch_tlf

,country,name,full_name,isin,currency,symbol
0,argentina,Telefonica,Telefonica,ES0178430E18,ARS,TEF
1,chile,Telefonica Chile,Telefonica Chile SA,CLP3058U1199,CLP,CTC
2,mexico,Telefonica ADR,Telefonica,US8793822086,MXN,TEFN
3,peru,Telefonica del Peru SAA,Telefonica del Peru SAA,PEP705001209,PEN,TELb
4,peru,Telefonica ADR,Telefonica SA DRC,US8793822086,USD,TEF
5,united states,Telefonica ADR,Telefonica SA ADR,US8793822086,USD,TEF
6,austria,Telefonica Deutschland AG,Telefonica Deutschland Holding AG,DE000A1J5RX9,EUR,O2Dn
7,belgium,Telefonica,Telefonica SA,ES0178430E18,EUR,TEF
8,germany,Telefonica Deutschland AG,Telefonica Deutschland Holding AG,DE000A1J5RX9,EUR,O2Dn
9,italy,Telefonica,Telefonica,ES0178430E18,EUR,TEF
10,spain,Telefonica,Telefonica,ES0178430E18,EUR,TEF
11,switzerland,Telefonica Deutschland AG,Telefonica Deutschland Holding AG,DE000A1J5RX9,CHF,O2Dn
12,united kingdom,Telefonica,Telefonica SA,ES0178430E18,EUR,0TDE

In [44]:
srch_tlf=srch_tlf[srch_tlf["country"]=="spain"]

In [45]:
srch_tlf

   country        name   full_name          isin currency symbol
10   spain  Telefonica  Telefonica  ES0178430E18      EUR    TEF

-------------------- CURRENCIES --------------------

In [23]:
curr_cross=inv.get_currency_crosses()

In [24]:
print(curr_cross.head())

      name                             full_name base        base_name second  \
0  USD/AED        USD/AED - US Dollar UAE Dirham  USD        US Dollar    AED
1  AED/JPY     AED/JPY - UAE Dirham Japanese Yen  AED       UAE Dirham    JPY
2  AED/PKR  AED/PKR - UAE Dirham Pakistani Rupee  AED       UAE Dirham    PKR
3  CAD/AED  CAD/AED - Canadian Dollar UAE Dirham  CAD  Canadian Dollar    AED
4  CHF/AED      CHF/AED - Swiss Franc UAE Dirham  CHF      Swiss Franc    AED

       second_name
0       UAE Dirham
1     Japanese Yen
2  Pakistani Rupee
3       UAE Dirham
4       UAE Dirham

In [25]:
curr_cross

,name,full_name,base,base_name,second,second_name
0,USD/AED,USD/AED - US Dollar UAE Dirham,USD,US Dollar,AED,UAE Dirham
1,AED/JPY,AED/JPY - UAE Dirham Japanese Yen,AED,UAE Dirham,JPY,Japanese Yen
2,AED/PKR,AED/PKR - UAE Dirham Pakistani Rupee,AED,UAE Dirham,PKR,Pakistani Rupee
3,CAD/AED,CAD/AED - Canadian Dollar UAE Dirham,CAD,Canadian Dollar,AED,UAE Dirham
4,CHF/AED,CHF/AED - Swiss Franc UAE Dirham,CHF,Swiss Franc,AED,UAE Dirham
...,...,...,...,...,...,...
2026,ZAR/XAF,ZAR/XAF - South African Rand Central African F...,ZAR,South African Rand,XAF,Central African Franc
2027,ZAR/XCD,ZAR/XCD - South African Rand East Caribbean Do...,ZAR,South African Rand,XCD,East Caribbean Dollar
2028,ZAR/XOF,ZAR/XOF - South African Rand West African CFA ...,ZAR,South African Rand,XOF,West African CFA franc
2029,XAU/USD,XAU/USD - Gold Spot US Dollar,XAU,Gold Spot,USD,US Dollar
2030,XAG/USD,XAG/USD - Silver Spot US Dollar,XAG,Silver Spot,USD,US Dollar

In [26]:
eur_curr_cross=inv.get_currency_crosses("EUR")

In [27]:
eur_curr_cross

,name,full_name,base,base_name,second,second_name
0,EUR/AED,EUR/AED - Euro UAE Dirham,EUR,Euro,AED,UAE Dirham
1,EUR/AFN,EUR/AFN - Euro Afghanistan Afghani,EUR,Euro,AFN,Afghanistan Afghani
2,EUR/ALL,EUR/ALL - Euro Albanian Lek,EUR,Euro,ALL,Albanian Lek
3,EUR/AMD,EUR/AMD - Euro Armenian Dram,EUR,Euro,AMD,Armenian Dram
4,EUR/ANG,EUR/ANG - Euro Antilles Guilder,EUR,Euro,ANG,Antilles Guilder
...,...,...,...,...,...,...
128,EUR/MZN,EUR/MZN - Euro Mozambican Metical,EUR,Euro,MZN,Mozambican Metical
129,EUR/TJS,EUR/TJS - Euro Tajikistani somoni,EUR,Euro,TJS,Tajikistani somoni
130,EUR/RUB,EUR/RUB - Euro Russian Ruble,EUR,Euro,RUB,Russian Ruble
131,EUR/GEL,EUR/GEL - Euro Georgian lari,EUR,Euro,GEL,Georgian lari
132,EUR/RUB,EUR/RUB - Euro Russian Ruble,EUR,Euro,RUB,Russian Ruble

In [28]:
av_curr=inv.get_available_currencies()

In [29]:
av_curr

['AED',
 'AFN',
 'ALL',
 'AMD',
 'ANG',
 'AOA',
 'ARS',
 'AUD',
 'AZN',
 'BAM',
 'BBD',
 'BDT',
 'BGN',
 'BHD',
 'BIF',
 'BND',
 'BOB',
 'BRL',
 'BRLT',
 'BSD',
 'BWP',
 'BYN',
 'BZD',
 'CAD',
 'CHF',
 'CLP',
 'CNH',
 'CNY',
 'COP',
 'CRC',
 'CUP',
 'CVE',
 'CZK',
 'DJF',
 'DKK',
 'DOP',
 'DZD',
 'EGP',
 'ETB',
 'EUR',
 'FJD',
 'GBP',
 'GEL',
 'GHS',
 'GMD',
 'GNF',
 'GTQ',
 'HKD',
 'HNL',
 'HRK',
 'HTG',
 'HUF',
 'IDR',
 'ILS',
 'INR',
 'IQD',
 'IRR',
 'ISK',
 'JMD',
 'JOD',
 'JPY',
 'KES',
 'KGS',
 'KHR',
 'KMF',
 'KRW',
 'KWD',
 'KYD',
 'KZT',
 'LAK',
 'LBP',
 'LKR',
 'LSL',
 'LYD',
 'MAD',
 'MDL',
 'MGA',
 'MKD',
 'MMK',
 'MNT',
 'MOP',
 'MRU',
 'MUR',
 'MVR',
 'MWK',
 'MXN',
 'MYR',
 'MZN',
 'NAD',
 'NGN',
 'NIO',
 'NOK',
 'NPR',
 'NZD',
 'OMR',
 'PAB',
 'PEN',
 'PGK',
 'PHP',
 'PKR',
 'PLN',
 'PYG',
 'QAR',
 'RON',
 'RSD',
 'RUB',
 'RWF',
 'SAR',
 'SCR',
 'SDG',
 'SEK',
 'SGD',
 'SOS',
 'STN',
 'SVC',
 'SYP',
 'SZL',
 'THB',
 'TJS',
 'TMT',
 'TND',
 'TRY',
 'TTD',
 'TWD',
 'TZS',
 'UAH',
 'UGX',
 'USD',
 'UYU',
 'UZS',
 'VES',
 'VND',
 'VUV',
 'XAF',
 'XAGg',
 'XBR',
 'XCD',
 'XOF',
 'XPF',
 'YER',
 'ZAR',
 'ZMW']

In [30]:
type(av_curr)

list

In [31]:
hist_eurusd=inv.get_currency_cross_historical_data("EUR/USD", from_date="01/01/2020", to_date="01/01/2022")

In [32]:
type(hist_eurusd)

pandas.core.frame.DataFrame

In [33]:
hist_eurusd.tail()

              Open    High     Low   Close Currency
Date
2021-12-27  1.1318  1.1335  1.1302  1.1325      USD
2021-12-28  1.1329  1.1335  1.1289  1.1309      USD
2021-12-29  1.1310  1.1370  1.1273  1.1348      USD
2021-12-30  1.1349  1.1360  1.1298  1.1323      USD
2021-12-31  1.1324  1.1387  1.1302  1.1368      USD

<H3>----------------- FONDOS --------------------------</H3>

In [57]:
fun_search=inv.search_funds("name", "AXA World Funds - Global Factors")

In [58]:
fun_search

,country,name,symbol,issuer,isin,asset_class,currency,underlying
0,luxembourg,Axa World Funds - Global Factors - Sustainable...,0P0000ZBKK,AXA Funds Management S.A.,LU0943665264,equity,USD,
1,luxembourg,Axa World Funds - Global Factors - Sustainable...,0P0000ZBKJ,AXA Funds Management S.A.,LU0943665348,equity,EUR,

In [64]:
hist_fun=inv.funds.get_fund_historical_data(fun_search["name"][1], fun_search["country"][1], from_date="01/01/2020", to_date="01/01/2022")

In [65]:
hist_fun

              Open    High     Low   Close Currency
Date
2020-01-02  219.73  219.73  219.73  219.73      EUR
2020-01-03  219.59  219.59  219.59  219.59      EUR
2020-01-06  219.02  219.02  219.02  219.02      EUR
2020-01-07  219.43  219.43  219.43  219.43      EUR
2020-01-08  220.48  220.48  220.48  220.48      EUR
...            ...     ...     ...     ...      ...
2021-12-27  298.80  298.80  298.80  298.80      EUR
2021-12-28  299.95  299.95  299.95  299.95      EUR
2021-12-29  299.45  299.45  299.45  299.45      EUR
2021-12-30  299.06  299.06  299.06  299.06      EUR
2021-12-31  298.07  298.07  298.07  298.07      EUR

[481 rows x 5 columns]

In [66]:
hist_fun[-1:]

              Open    High     Low   Close Currency
Date
2021-12-31  298.07  298.07  298.07  298.07      EUR

In [67]:
inv.get_cryptos()

                          name  symbol currency
0                      Bitcoin     BTC      USD
1                     Ethereum     ETH      USD
2                 Binance Coin     BNB      USD
3                       Tether    USDT      USD
4                      Cardano     ADA      USD
...                        ...     ...      ...
1032            United Bitcoin    UBTC      USD
1033        CryptoWorldX Token    CWXT      USD
1034       Cryptoindex.com 100  CIX100      USD
1035      Digital Bullion Gold     DBG      USD
1036  Advanced Internet Blocks     AIB      USD

[1037 rows x 3 columns]