In [1]:
import pfmanager.engine as pm
import pfmanager.currency as cu
from datetime import date

In [2]:
pf=pm.Portfolio("De Giro")
acc=pm.Account("Cuenta de accciones")
acc.register_portfolio(pf)

In [3]:
pf.register_asset(pm.AssetEquity("Telefónica SA","EUR","TEF.MC"))

In [4]:
tr1 = pm.TransactionBuy(10,cu.Currency(100),cu.Currency(2.5),date_transaction=date(2020,5,3) )
pf.get_asset(symbol="TEF.MC").register_transaction(tr1)

In [5]:
tr2 = pm.TransactionBuy(5,cu.Currency(110),cu.Currency(2.5),date_transaction=date(2020,6,4) )
pf.get_asset(symbol="TEF.MC").register_transaction(tr2)

In [6]:
tr3 = pm.TransactionSell(4,cu.Currency(115),cu.Currency(2.5),date_transaction=date(2021,2,10) )
pf.get_asset(symbol="TEF.MC").register_transaction(tr3)

In [8]:
tr4 = pm.TransactionSell(10,cu.Currency(110),cu.Currency(2.5),date_transaction=date(2021,5,12) )
pf.get_asset(symbol="TEF.MC").register_transaction(tr4)

In [9]:
tr5 = pm.TransactionDividend(cu.Currency(10),taxes=cu.Currency(1.5),date_transaction=date(2021,12,12) )
pf.get_asset(symbol="TEF.MC").register_transaction(tr5)

In [10]:
pf.update_portfolio( update_assets=True)

In [11]:
pf.get_assets_info_dataframe()

,Name,Shares,Market Value,TOTAL BENEFIT,POTENCIAL BENEFIT,P.B. relative,Pot. Currency Benefit,Pot. Product Benefit,CURRENT BENEFIT,Curr. Currency Benefit,Curr. Product Benefit
TEF.MC,Telefónica SA,-9,-35.005499,116.0,0,0.0,0,0,116.0,0.0,116.0

In [12]:
pf.get_asset(symbol="TEF.MC").get_info_dataframe()

                            Valores
Name                  Telefónica SA
Type                         Equity
Currency                        EUR
Num. of shares                   -9
Market value             -35.005499
Underlying cost                 110
TOTAL P/L                     116.0
POTENTIAL P/L                     0
- Pot. product P/L                0
- Pot. currency P/L               0
CURRENT P/L                   116.0
- Curr. product P/L           116.0
- Curr. currency P/L            0.0
Dividends                        10
Commissions                    12.5
Taxes                           1.5